
  .cheese-image {
    font-family: 'Philosopher', sans-serif;
    width: 50%;
    height: 50%;
    border-radius: 6%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    padding-left: 10px;
  }

